include run.py
include *.rst
include LICENSE*
recursive-include docs *.rst
recursive-include omnivore/icons *.png *.ico *.icns
recursive-include test_data air_defense_v18.xex
recursive-include tests *.sh *.py
recursive-include omnivore *.c
include traits/*.h
prune atrcopy  # force using atrcopy from pypi rather than local dev copy
recursive-include udis *.c
exclude udis/udis.py  # python 3 file that causes syntax error
