include LICENSE
include README.rst
recursive-include scripts *
include atrip/templates/*
include atrip/archivers/*
include atrip/compressors/*
include atrip/filesystems/*
include atrip/file_types/*
recursive-include atrip/machines *.py
include atrip/media_types/*
include atrip/signatures/*
include samples/air_defense*
include samples/dos_sd*
include samples/dos_ed*
include samples/dos_dd*
include samples/kboot*
include samples/mydos*
include samples/sd_dd*
include samples/rebuild.sh
include samples/create_binary.py
