include run.py
include *.rst
include LICENSE*
recursive-include docs *.rst
recursive-include omnivore/icons *.png *.ico *.icns
recursive-include omnivore *.c
prune pyface/qt
prune pyface/ui/qt4
prune traitsui/qt4
include traits/*.h
